---
interface Props {
  product: string
  provider: string
  image: string
  pageImage: string
  link: string
}

const { product, provider, image, pageImage, link } = Astro.props
---

<a href={link} target="_blank" class="min-h-60 sm:min-h-72 w-min grow-0 shrink-0 flex flex-col gap-1 text-[var(--text-color)] no-underline border border-zinc-300 p-2.5 group">
  <div class="bg-cover w-[150px] h-[112.5px] sm:w-50 sm:h-[150px] object-cover border border-zinc-300" style={{ backgroundImage: 'url(' + pageImage + ')' }}>
    <img class="w-full h-full object-contain bg-[var(--color-light)] group-hover:opacity-0 group-hover:duration-200" src={image} alt={'Imagen de ' + product} loading="lazy" />
  </div>
  <div class="flex flex-col">
    <h3 class="inline-block font-semibold text-wrap">{product}</h3>
    <h4 class="inline-block text-sm italic">{provider}</h4>
  </div>
  <span class="text-sm underline mt-auto">Ver catalogo de {provider}</span>
</a>
